[include]
    path = ~/.local/share/delta/themes.gitconfig
[core]
    editor = nvim
	pager = delta
[commit]
	gpgSign = false
[credential]
	helper = /usr/bin/pass-git-helper
[user]
    email = miranda.a.lucas@gmail.com
    name = Lucas Miranda
[alias]
	graph = log --graph --oneline --decorate

    # push / pull
    p = push
    pl = pull

    # status
    s = status -sb
    ss = status

    # stash
    st = stash
    stl = stash list
    stp = !git st push -u -m $1
    stpp = st pop

    # diff
    d = diff

    # log
    l = log --oneline --graph --max-count=20
    ll = log --oneline --graph

    # commit
    c = commit -e

    # checkout
    ck = checkout

    # add
    aa = add .
    ai = add -i
    aac = !git aa && git c
    aic = !git ai && git c

    # branch
    b = branch --verbose
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
#[interactive]
    #diffFilter = delta --color-only --features=interactive
[delta]
    #features = zebra-dark
    syntax-theme = OneHalfDark
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = false
[merge]
    conflictstyle = diff3
[diff]
    tool = meld
    prompt = false
    #colorMoved = default
[color]
	ui = true
[filter "tabspace"]
	smudge = unexpand --tabs=4 --first-only
	clean = expand --tabs=4 --initial
