
###
### xmonad/
###

xmonad/.gitignore
xmonad/Session.vim
xmonad/stack.yaml.lock

# files produced by compiler
xmonad/*.o
xmonad/*.hi
xmonad/*.errors

# compiled xmonad executable
#xmonad/xmonad-[^/]

# files used by stack
xmonad/.stack-work/

# directory created by `build` script
xmonad/bin/

# files automatically created by xmonad
xmonad/xmonad.state

###
### xmobar/
###

xmobar/xmobar

# files produced by compiler
xmobar/*.o
xmobar/*.hi
xmobar/*.errors

# files used by stack
xmobar/.stack-work/
